.button {
    background-color: #383c42;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

#pageSize {
    width: 100px;
    text-align: right;
}

#pageSize option {
    width: 100px;
    text-align: right;
}

.list-group-item {
    width: 150px;
}

.glyphicon {
    font-size: 25px;
    text-align: center;
}

i {
    margin-left: 50px;
    font-size: 30px;
    height: 20px;
    
}
