<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SPM</title>
    <base href="/">
    <meta name="description" content="SPM">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">-->
</head>

<body ng-app="app" ng-controller="table_controller">
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PORTAL - LIST ENTITIES</a>
                </div>
            </div>
        </nav>
  <div class="row" style="padding-top: 70px;">
    <button class="btn btn-danger">Add</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Filter</button>
  </div>
  <div style="padding-top: 70px;">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th ng-repeat="c in ordered_columns">{{ c.title }}
        </th>
      </tr>
      <tbody>
        <tr ng-repeat="d in data">
          <td ng-repeat="c in ordered_columns">{{ d[c.title] }}</td>
        </tr>
      </tbody>
  </table>
      </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
   <!-- 
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="services/login.js"></script>
    <script src="services/pipelineData.js"></script>
    <script src="services/productData.js"></script>
    <script src="components/holiday/holiday.js"></script>
    <script src="components/ifsc/ifsc.js"></script>
    <script src="components/product/product.js"></script>-->
</body>

</html>
